Django>=5.0,<5.1
djangorestframework>=3.15,<3.16
djangorestframework-simplejwt>=5.3,<5.4
django-filter>=24.2
django-cors-headers>=4.3
drf-spectacular>=0.27
django-environ>=0.11
dj-database-url>=2.2
psycopg[binary]>=3.1
celery>=5.3,<6.0
redis>=5.0
cloudinary>=1.40
django-cloudinary-storage>=0.3
google-genai>=0.3
agora-token-builder>=1.0
requests>=2.31
WeasyPrint>=61
